@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600;700&family=Mukta:wght@500;600;700&family=Secular+One&display=swap');

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* background-color: orange; */
}

body {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0;
  /* background-color: rgb(255, 181,0); */
}

.medicalServicesPanel {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sansita Swashed', cursive;
  font-size: 32px;
  font-weight: 500;
  flex-direction: column;
  /* z-index: -1; */
}

.serviceLabel {
  width: 100%;
  line-height: 24px;
  color: #222;
  text-shadow: 8px 8px 8px rgba(3, 3, 3, 0.3);
   /* , 1px 1px rgb(255, 181,0); */
}

.pdL60 {
  padding-left: 60px;
  color: #333;
}

.App {
  margin: 0;
  padding: 0;
  /* background-color: rgb(30, 110, 102); */
}

.desktop {
  /* padding: 20px;
  margin: 20px; */
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* background-color: yellow; */
  /* background-color: transparent; */
  /* background-color: rgb(255, 181, 0); */
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-wrapper {
  width: 140px;
  height: 100%;
  padding: 0 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-wrapper .container {
  width: 100%;
}

.nav-wrapper ul {
  list-style-type: none;
  padding: 0;
  display: block;
  width: 100%;
}

.nav-link {
  font-family: 'Mukta', sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  display: block;
  padding: 6px 16px;
  /* background-color: thistle; */
  /* list-style-type: none; */
}

.nav-link:hover {
  background-color: rgb(137,199, 0);
  color:rgba(255, 255, 255, 0.9);
}

.nav-selected {
  background-color: rgb(137,199, 0);
  color:rgba(255, 255, 255, 0.9);
} 