// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600;700&family=Mukta:wght@500;600;700&display=swap');

.new-session {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: 'Fira Sans', sans-serif;
}

.new-session-main {
  margin-top: 100px;

  h1 {
    color: rgb(137, 199, 0);
    font-family: 'Mukta', sans-serif;
  }

  input[type="text"],
  input[type="password"],
  input[type="submit"],
  a {
    margin: 0;
    width: 100%;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  }

  input[type="submit"] {
    margin-top: 30px;
    background-color: rgb(137, 199, 0);
    box-shadow: none;
    cursor: pointer;
  }

  a {
    display: block;
    margin-top: 30px;
    text-decoration: none;
    color: black;
  }

  input[type="submit"]:hover,
  a:hover {
    box-shadow: 0 0 2px 2px rgba(137, 199, 0, 0.2);
  }

  input[type="submit"]:active,
  a:active {
    box-shadow: 0 0 2px 2px rgba(137, 199, 0, 0.8);
  }

  label {
    margin-bottom: 10px;
  }
}